<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav ml-auto">
			<li sec:authorize="!isAuthenticated()" class="nav-item"><a
				href="/signup" class="nav-link"> <span>Registrarse</span>
			</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<ul id="languageDropdownMenuButton" class="dropdown-menu">
					<li>
						<a id="btnEnglish" value="EN">
							<img th:src="@{/img/if_uk_flag.png}"
							style="border:0;float:left;margin-right:15px" /> <span
							th:text="#{language.en}">Inglés</span>
						</a>
					</li>
					<li>
						<a id="btnSpanish" value="ES">
							<img th:src="@{/img/if_spain_flag.png}"
							style="border:0;float:left;margin-right:15px" /> <span
							th:text="#{language.es}">Español</span>
						</a>
					</li>
				</ul>
			<li sec:authorize="isAuthenticated()"><a href="/logout"> <span
					class="glyphicon glyphicon-log-out"></span> Log out
			</a></li>
		</ul>
	</div>
</nav>