<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav"></nav>
<body>
	<div class="container justify-content-center">
		<h2 th:text="#{private.title}">Área privada</h2>
		<div class="table table-responsive"
			sec:authorize="hasRole('ROLE_CLIENT')">
			<table class="table table-hover" id="userData">
				<thead>
					<tr>
						<th th:text="#{private.name}">Nombre</th>
						<th th:text="#{private.email}">Email</th>
						<th th:text="#{private.credits}">Saldo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${completeName}"></td>
						<td sec:authentication="principal.username"></td>
						<td th:text="${saldo}"></td>
					</tr>
				</tbody>
			</table>
			<hr>
			<h3 th:text="#{private.ownoffers}">Ofertas propias:</h3>
			<hr>
			<div class="table table-responsive">
				<table class="table table-hover" id="createdOffers">
					<thead>
						<tr>
							<th th:text="#{private.product}">Producto</th>
							<th th:text="#{private.date}">Fecha</th>
							<th th:text="#{private.offerdesc}">Descripción</th>
							<th th:text="#{private.price}">Precio</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="offer : ${offerList}">
							<td th:text="${offer.title}"></td>
							<td th:text="${offer.date}"></td>
							<td th:text="${offer.description}"></td>
							<td th:text="${offer.price}"></td>

							<td>
								<div th:if="${offer.sold}">
									<p th:text="#{private.sold}">Producto vendido</p>
								</div>
							</td>

							<td><a th:href="${'/offer/delete/' + offer.id}" th:text="#{private.deleteoffer}">Eliminar
									oferta</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<hr>
			<h3 th:text="#{private.bought}">Productos comprados:</h3>
			<div class="table table-responsive">
				<table class="table table-hover" id="purchasedOffers">
					<thead>
						<tr>
							<th th:text="#{private.producttitle}">Título</th>
							<th th:text="#{private.offerdesc}">Descripción</th>
							<th th:text="#{private.seller}">Vendedor</th>
							<th th:text="#{private.price}">Precio</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="purchase : ${purchasedList}">
							<td th:text="${purchase.getTitle()}"></td>
							<td th:text="${purchase.getDescription()}"></td>
							<td th:text="${purchase.getSellerInfo()}"></td>
							<td th:text="${purchase.getPrice()}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="container" style="text-align: center"
			sec:authorize="hasRole('ROLE_ADMIN')">
			<h3 th:text="#{private.admin}">Sesión iniciada como administrador:</h3> 
			<hr>
			<span
				th:text="${completeName}"></span>
		</div>
	</div>
	<footer th:replace="fragments/footer"></footer>

</body>

</html>