<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav"></nav>
<body>
	<div class="container">
		<h2 class="text-center" th:text="#{login.title}">Login:</h2>

		<div th:if="${param.error}">
			<div class="alert fixed-top alert-danger" id="alert">Errores de
				validación encontrados</div>
		</div>
		<div class="container">
			<form class="form-horizontal justify-content-center" method="post"
				action="/login">
				<div class="form-group">
					<label for="m" th:text="#{login.email}">Email</label>
					<div>
						<input th:placeholder="#{email.placeholder}" type="email"
							id="email" class="form-control" name="username" required="true">
					</div>
				</div>
				<div class="form-group">
					<label for="o" th:text="#{login.password}">Contraseña</label>
					<div>
						<input id="password" type="password" class="form-control"
							th:placeholder="#{password.placeholder}" name="password"
							required="true">
					</div>
				</div>

				<div class="form-group">
					<div>
						<button type="submit" id="submit" class="btn btn-primary"
							th:text="#{login.send}">Login</button>
					</div>
				</div>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}">
			</form>
		</div>
	</div>
	<footer th:replace="fragments/footer"></footer>
</body>
</html>