<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav"></nav>
<body>
	<div class="container">
		<form class="form-horizontal justify-content-center" action="/market">
			<h2>Mercado de productos</h2>
			<br> <br>
			<h4>Tus datos:</h4>
			<table class="table table-hover" id="userData"
				th:fragment="userData">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Email</th>
						<th>Saldo actual:</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${user.getFullName()}"></td>
						<td th:text="${user.getEmail()}"></td>
						<td th:text="${user.getSaldo()}"></td>
					</tr>
				</tbody>
			</table>
			<br> <br> <br>
			<div class="form-group">
				<label for="textToSearch">Buscar ofertas:</label> <input
					name="textToSearch" type="text" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary" id="btnSearch">Buscar</button>
		</form>
	</div>
	<div class="container white" style="text-align: center">
		<hr>
		<div class="fixed-top">
			<div class="alert fixed-top alert-danger collapse" id="alert">No
				tienes saldo suficiente para comprar el producto</div>
		</div>

		<h4>Oferta</h4>
		<hr>
		<div class="table table-responsive"
			sec:authorize="hasRole('ROLE_CLIENT')">
			<table class="table table-hover" th:fragment="tableOffers"
				id="tableOffers">
				<thead>
					<tr>
						<th>Título</th>
						<th>Fecha de puesta en venta</th>
						<th>Descripción</th>
						<th>Precio</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="offer : ${offerList}">

						<td th:text="${offer.title}"></td>
						<td th:text="${offer.date}"></td>
						<td th:text="${offer.description}"></td>
						<td th:text="${offer.price}"></td>
						<td>
							<div th:unless="${offer.sold}">
								<button name="buy" class="btn btn-secondary"
									th:id="${'buyButton' + offer.id}">Comprar</button>
								<script th:inline="javascript">
								 /*<![CDATA[*/
								 $( "#buyButton[[${offer.id}]]" ).click(function() {
								 $.post( "/market/buyOffer/[[${offer.id}]]", function( data ) {
								 var price = [[${offer.price}]];
								 var saldo = [[${user.saldo}]];								 
								 var numberPage = [[${param.page}]];
								 var urlUpdate = '/market/update';
								 if ( numberPage != null ){
								 urlUpdate += "?page="+numberPage[0];
								 }
								 if(price>saldo){
									 $('#alert').show().delay(400).addClass("in").fadeOut(3500);									
								 }
								$("#tableOffers").load(urlUpdate);
								 var urlUpdateUserInfo = '/market/updateuser';
								 $("#userData").load(urlUpdateUserInfo);
								 });
								 });
								 /*]]>*/
								 </script>
							</div>
							<div th:if="${offer.isSold}">
								<p>Producto vendido</p>
							</div>
						</td>

					</tr>

				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination"></footer>
	</div>
</body>

</html>